<!DOCTYPE html>
<html class="has-background-white-ter" lang="en">

<head>
  <title>
    Contractor Prequalification System
  </title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="csrf-token" content="<%= csrfToken %>">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="<%= urlPrefix %>/stylesheets/style.min.css" />
  <link rel="stylesheet" href="<%= urlPrefix %>/lib/fa5/css/all.min.css" />

  <link rel="apple-touch-icon" sizes="180x180" href="<%= urlPrefix %>/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= urlPrefix %>/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= urlPrefix %>/favicon-16x16.png">
  <link rel="manifest" href="<%= urlPrefix %>/site.webmanifest">
  <link rel="mask-icon" href="<%= urlPrefix %>/safari-pinned-tab.svg" color="#363636">
  <meta name="apple-mobile-web-app-title" content="Contractor Prequal">
  <meta name="application-name" content="Contractor Prequal">
  <meta name="msapplication-TileColor" content="#363636">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
  <nav class="navbar is-dark mb-3">
    <div class="navbar-brand">
      <span class="navbar-item">
        <img src="<%= urlPrefix %>/images/logo.svg" alt="" />
      </span>
      <span class="navbar-item has-text-weight-bold">
        Contractor Prequal System
      </span>
      <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            <span class="icon"><i class="fas fa-user" aria-hidden="true"></i></span>
            <span><%= user.userName %></span>
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="<%= urlPrefix %>/logout">
              <span class="icon mr-1"><i class="fas fa-sign-out-alt" aria-hidden="true"></i></span>
              Log Out
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="container py-2">
    <form class="box" id="form--filters">
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label" for="filter--tradeCategoryID">Trade Category</label>
            <div class="control">
              <div class="select is-fullwidth">
                <select id="filter--tradeCategoryID" name="tradeCategoryID">
                  <option value="">(All Categories)</option>
                  <%
                    for (let index = 0; index < tradeCategories.length; index += 1) {
                      const tradeCategory = tradeCategories[index];
                  %>
                    <option value="<%= tradeCategory.tradeCategoryID %>"><%= tradeCategory.tradeCategory %></option>
                  <% } %>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-one-third">
          <p class="facheck facheck-fas-checked has-checked-success">
            <input id="filter--isHireReady" name="isHireReady" value="1" type="checkbox" checked <%= (user.canUpdate ? "" : "disabled readonly") %> />
            <label for="filter--isHireReady">Hire Ready Only</label>
          </p>
        </div>
      </div>
    </form>
    <div id="container--results">
      <div class="has-text-centered p-4">
        <span class="icon">
          <i class="fas fa-4x fa-spinner fa-pulse" aria-hidden="true"></i>
        </span>
      </div>
    </div>
  </div>
  <script>
    window.exports = window.exports || {};
    exports.canUpdate = <%= user.canUpdate %>;
    exports.urlPrefix = "<%= urlPrefix %>";
  </script>
  <script src="<%= urlPrefix %>/lib/bulma-webapp-js/cityssm.min.js"></script>
  <script src="<%= urlPrefix %>/javascripts/contractors.min.js"></script>
  <script src="<%= urlPrefix %>/javascripts/site.min.js"></script>
</body>
</html>
